fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib
bcrypt==4.2.1
python-multipart
pandas
openpyxl
pdfplumber
python-dotenv
httpx
aiofiles
msal
psycopg2-binary
anthropic
